<ion-view view-title="关于我们" hide-tabs="false">
        <ion-header-bar class="bar bar-header bar-light bar-positive"><ion-icon name=""></ion-icon>
            <ion-title class="bar-calm" style="text-align: center">关于我们</ion-title>
        </ion-header-bar>
        <ion-content>
        <div class=" h100 w100">
          <div class="list padding">  
              <ul class="list">
                  <li>
                      <a class="item listFont1" >
                            成立时间
                          <span class="item-note">2017年2月</span>
                      </a>
                  </li>
                  <li>
                        <a class="item listFont1" >
                                注册地
                            <span class="item-note">福建省福州市</span>
                        </a>
                  </li>
                  <li>
                        <a class="item listFont1" >
                              地址
                            <span class="item-note">福州市鼓楼区五四路137号信和广场21楼</span>
                        </a>
                    </li>
                    <li>
                        <a class="item listFont1" >
                              邮编
                            <span class="item-note">350003</span>
                        </a>
                    </li>
                    <li>
                        <a class="item listFont1" >
                              总机
                            <span class="item-note">0591-87803700</span>
                        </a>
                    </li>
                  <li>
                      <a class="item listFont1" >
                            版权所有
                          <span class="item-note">兴业资产管理股份有限公司</span>
                      </a>
                  </li>
                  <li>
                        <a class="item listFont1" >
                              企业使命
                            <span class="item-note">化解金融风险、服务实体经济</span>
                        </a>
                  </li>
                  <li>
                        <a class="item listFont1" >
                              核心价值观
                            <span class="item-note">担当、诚信、专业、创新</span>
                        </a>
                  </li>
                  <li>                      
                        <div class="item11 w100 approvalRow pos_rel height70 " >
                                <div class=" approvalDiv left0 w200 paddingTop20">
                                        发展愿景
                               </div>
                                <div class=" approvalDiv right0 w200 paddingTop9">
                                        <div class="approvalDate1">建成"管理规范、特殊鲜明"的国内一流特殊资产综合服务提供商</div>  
                               </div>
                        </div>
                  </li>
              </ul>
              <span style="margin-left: 14px; font-size: 18px">软件用途:</span><br/><br/>
              <span class="listFont1" style="margin-left: 14px;">本app适用于无需修改待办任务的表单审批以及对已审任务的流程情况进行实时查看</span>
          </div>
        </div>
      </ion-content>
</ion-view>